@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

body {
  background-color: #f5f7fc;
}

th {
  color: #8898aa;
  font-size: 0.7rem;
  font-weight: 500;
  letter-spacing: 1px;
}
th,
td {
  padding: 0.75rem 1.5rem 0.75rem 1.5rem;
}
tr {
  border-bottom: 1px solid rgba(205, 205, 205, 0.579);
}
td {
  color: #5c6786;
  font-size: 0.9rem;
}

.table-head {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid rgba(205, 205, 205, 0.579);
}
form input,
textarea {
  box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
  color: #8898aa;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}
label {
  color: #525f7f;
  font-size: 0.875rem;
  font-weight: 600;
}
